.welcome-div{
    height: 300px;    
    margin-bottom: 30px;
    background-image: url("../../assets/images/happy.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover
}