.logout-gif {    
    height: 60vh;
    width: 100%;
    background-image: url("../../assets/images/pikachu-crying-icegif.gif");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size:cover */
}